form input {
    width: 150px;
    margin-bottom: 20px;
    height: 40px;
}

span.X {
    vertical-align: middle;
    margin-left: -1.6%;
    width: 1%;
    padding: 0;
    border: none;
    color: orangered;
    cursor: pointer;
}

table {
    border-spacing: 0px;
}

td, th {
    padding: 5px;
    width: 200px;
    height: 25px;
    border: 1px solid black;
}

th {
    background: #999999;
}

thead {
}
