<html>
<head>
<link href="saper.css" rel="stylesheet" type="text/css">
</head>
<body>
<script type="text/x-template" id="template">
    <div>
        <h1>{{text}}</h1>
        <hr color="#9fb9ba">
        <br><br><br>
        <button type="button" onclick="refresh()">New game</button>
    </div>
</script>
<script src="js.js"></script>
</body>
</html>
