	td {
            vertical-align: middle;
            text-align: center;
            color: #1A6CC6;
	    -moz-user-select: none;
	    -khtml-user-select: none;
	    user-select: none;   
        }

        .white {
            background-color: white;
        }

        .hide {
            background-color: #1a7194;
            color: rgba(0, 0, 0, 0);
        }

        .flag {
            background: rgba(0, 0, 0, 0) url(flag.jpg) no-repeat 0 0 scroll !important;
            color: rgba(0, 0, 0, 0);
        }

        #wrapper {
            margin: auto;
        }

        .question {
            padding: 15px;
            background-color: #f0f5f6;
            position: absolute;
            top: 10%;
            left: 37%;
            width: 300px;
            height: 200px;
            text-align: center;
            border: 2px solid #a4bdbe;
        }